

section {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

p{
  text-align: justify;
}

ul{
  list-style-type: circle;
}

.align-center-all{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.padding-30{
  padding-top: 30px;
  padding-bottom: 30px;
}


.bg-app{
  background-color: black;
}

.background_sec{
  background-color: #E5E4E5;
}

.header{
  min-width: 100%;
  min-height: 70vh;
  display: block;
  left: 0;
  padding-top: 100px;
  box-sizing: border-box;
  background-image: url(../img/backg_code.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
}

.header-text{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.img-avatar{
  max-width: 100%;
  height: auto;
}

.main {
  background: #ffffff;
}

.main-wrapper {
  padding: 50px;
}

.main-raised {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 6px;
  padding-top: 70px;
  padding-bottom: 70px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

footer{
  min-height: 10vh !important;
  height: auto;
  padding-top: 0.67em;
  color: white;
  display: block;
  background-color: black;
}

.fa-container-inline{
  line-height: 50px;
  vertical-align: middle;
}
.fa-icon-vert{
  vertical-align: middle;
}
.fa-text-align{
  text-align: left;
}

.fa-text-align-right{
  text-align: right;
}


@media only screen and (max-width: 600px){
  .main{
    padding-right: 15px;
    padding-left: 15px;
  }

  .main-raised {
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 6px;
    padding-top: 70px;
    padding-bottom: 70px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .main-wrapper {
    padding: 10px;
  }

  .fa-text-align{
    text-align: center;
  }
  
}